.card_item_password {
    transition: all 0.3s ease;
    cursor: pointer;
}

.card_item_password:hover {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.2);
}